<div class="form-control {{externalClasses}}">
    <label class="form-control__label">{{label}}</label>
    <input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" class="form-control__input {{inputClasses}}" />
</div>