<div class="form-control {{externalClasses}}">
    <label class="form-control__label">{{label}}</label>
    <input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" class="form-control__input {{inputClasses}}" />
    {{#if errorText}}
        <label class="form-control__error-label">{{errorText}}</label>
    {{/if}}
</div>